USE [master]
GO
/****** Object:  Database [CP_Network_Traffic_Apr2026]    Script Date: 23/05/2026 11:32:31 ******/
CREATE DATABASE [CP_Network_Traffic_Apr2026]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CP_Network_Traffic_Apr2026', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CP_Network_Traffic_Apr2026.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CP_Network_Traffic_Apr2026_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CP_Network_Traffic_Apr2026_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CP_Network_Traffic_Apr2026].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CP_Network_Traffic_Apr2026]
GO
/****** Object:  Table [dbo].[dim_support_types]    Script Date: 23/05/2026 11:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_support_types](
	[ticket_type_id] [int] NOT NULL,
	[category] [varchar](50) NULL,
	[priority_level] [varchar](10) NULL,
	[target_resolution_hours] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_tables]    Script Date: 23/05/2026 11:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_tables](
	[table_hash] [varchar](50) NOT NULL,
	[tier_name] [varchar](20) NULL,
	[stake_level] [varchar](10) NULL,
	[game_variant] [varchar](40) NULL,
	[rake_cap] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[table_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_users]    Script Date: 23/05/2026 11:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_users](
	[user_id] [int] NOT NULL,
	[country] [varchar](50) NULL,
	[registration_date] [date] NULL,
	[traffic_source] [varchar](30) NULL,
	[device_type] [varchar](20) NULL,
	[account_status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_cashier_transactions]    Script Date: 23/05/2026 11:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_cashier_transactions](
	[transaction_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[movement_type] [varchar](20) NULL,
	[payment_method] [varchar](30) NULL,
	[chips_amount] [decimal](12, 2) NULL,
	[transaction_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_rake_finance]    Script Date: 23/05/2026 11:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_rake_finance](
	[hand_id] [int] NOT NULL,
	[session_id] [int] NULL,
	[total_pot_chips] [decimal](12, 2) NULL,
	[rake_collected] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[hand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_support_tickets]    Script Date: 23/05/2026 11:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_support_tickets](
	[ticket_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[ticket_type_id] [int] NULL,
	[opened_date] [date] NULL,
	[ticket_status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_table_activity]    Script Date: 23/05/2026 11:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_table_activity](
	[session_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[table_hash] [varchar](50) NULL,
	[hands_played] [int] NULL,
	[chips_won_lost] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_cashier_transactions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[dim_users] ([user_id])
GO
ALTER TABLE [dbo].[fact_rake_finance]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[fact_table_activity] ([session_id])
GO
ALTER TABLE [dbo].[fact_support_tickets]  WITH CHECK ADD FOREIGN KEY([ticket_type_id])
REFERENCES [dbo].[dim_support_types] ([ticket_type_id])
GO
ALTER TABLE [dbo].[fact_support_tickets]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[dim_users] ([user_id])
GO
ALTER TABLE [dbo].[fact_table_activity]  WITH CHECK ADD FOREIGN KEY([table_hash])
REFERENCES [dbo].[dim_tables] ([table_hash])
GO
ALTER TABLE [dbo].[fact_table_activity]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[dim_users] ([user_id])
GO
USE [master]
GO
